/************ Removing default CSS *********************/
*{
    padding: 0;
    margin: 0;
    transition: 0.1s;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


button{
    text-decoration: none;
    cursor: pointer;
    border: none;
}

body{
   font-size: 18px;
   min-height: 100vh;
   background-color: #222a2e;
}

/* width */
::-webkit-scrollbar {
  width: 0px;     // Hides the Scrollbar on the right side of the page
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 118, 118); 
}



/********************** General App Styling Starts Here **********************/

.main-container{
    min-height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif; /*https://fonts.google.com/specimen/Nunito?sidebar.open=true&selection.family=Nunito*/
    background: var(--page-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.NotFound{
    padding: 10em;
    display: flex;
    align-self: center;
}

/* nav-items-container */
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.close_navbar{
    display: none;
}

/* Expanded Navigation bar*/
.navigation-bar-expanded{
    border-bottom: 2px solid gray;
    box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
    height: 40vh;
    animation: expand_navigation_bar 0.5s 1 normal forwards ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*  Shrink navigation bar*/
.navigation-bar-shrunk{
    border-bottom: 2px solid gray;
    box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
    height: 7vh;
    animation: shrink_navigation_bar 0.5s 1 normal forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.laptop{
    font-size: 90px;
}


/* Animation that expands the navigation bar*/
@keyframes expand_navigation_bar{
    from{
        height: 7vh;
    }
    to{
        height: 40vh;
    }
}

/* Animation that shrinks the navigation bar*/
@keyframes shrink_navigation_bar{
    from{
        height: 40vh;
    }
    to{
        height: 7vh;
    }
}

.nav-item{
    margin: var(--lg);
    padding-left: var(--md);
    padding-right: var(--md);
    color: var(--text-color);
    border-radius: var(--md) var(--md) 0 0;
}

.nav-item:hover{
    border-bottom: solid 2px gray;
}

.nav-item:active{
    color: gray;
}

.hamberger{
   display: none;
   position: absolute;
   right: 0;
   top: 0;
   margin: var(--lg);
   color: gray;
   font-size: var(--xxl);
}

.theme-toggler{
    position: absolute;
    left: var(--lg);
    top: var(--lg);
    margin: var(--md);
}

.sun{
    color: orange;
    box-shadow: 0px 1px 8px 1px orange;
    background-color: yellow;
    border-radius: var(--round);
    width: var(--xl);
    height: var(--xl);
}

.moon{
    color: gray;
    box-shadow: 0px 1px 8px 1px var(--dark-blue);
    background-color: var(--dark-blue);
    border-radius: var(--round);
    width: var(--xl);
    height: var(--xl);
}

.portrait{
    visibility: hidden;
    border-radius: 50%;
    width: 100px;
    border: solid 2px gray;
    box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
    animation: expand_portrait 0.5s 0.2s 1  normal forwards ease-in;  // name time func delay iteration dir fill play
}

@keyframes expand_portrait {
    from{
        visibility: hidden;

    }

    to{
        visibility: visible;
    }
}
/************** Home Styling *************/
.home-wrapper{      // Wraps the content of the Home page
    min-height: 59vh;  
    display: flex;  
}

.section-wrapper{  // Wraps the content of each page except for Home Page
    min-height: 92vh;
}

.media-icon{
    margin-right: var(--xl);
    border: solid 2px transparent;
}

.media-icon:hover{ 
    border-radius: 50%;
    box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
}

/**************************** FlexBox Layout ******************************/

.flex-center-width{
    display: flex;
    justify-content: center;
}

.flex-1{
    flex: 1;
}

.flex-center-height{
    display: flex;
    align-items: center;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-column-center-width{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* CSS Utils */
.pointer{
    cursor: pointer;
}

.show{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.bottom-border-onhover{
    border-bottom: solid 2px transparent;
}

.current-path{
    border-bottom: solid 2px gray;
    background-color: var(--shadow-gray);
}



/****************************** Projects Section *****************************/
.projects-wrapper{
    padding-top: var(--xxl);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-list{
    width: 100%;
    margin: var(--lg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container{
    box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
    border: solid 2px gray;
    border-radius: var(--md);
    margin: var(--md);
    padding: var(--md);
    min-width: 200px;
    max-width: 200px;
    font-size: 0.9em;
}

.project-header{
    border-bottom: solid 2px gray;
    padding: var(--md);
}

.project-description{
    padding: var(--md);
}

.project-links{
    display:flex;
    justify-content: space-around;
    padding: var(--md);
}

.project-tools{
    padding: var(--md);
    display: flex;
    justify-content: center;
}

.project-tool{
    margin-right: var(--md);
    font-size: 0.7em;
    font-weight: bolder;
}
.category{
    padding: var(--md);
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

.project-link-icon{
    font-size: x-large;
    border-bottom: solid 2px transparent;
}

.project-link-icon::after{
    content: attr(data-label);
    font-size: 8px;
    color: gray;
}

.project-link-icon:hover{
   border-bottom: solid 2px gray
}

.footer{
    background-color: var(--shadow-gray);
    border-top: solid 1px var(--navbar-shadow-color);
    padding: var(--lg);
    justify-content: center;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}

.footer-link{
    border-bottom: solid 1px var(--text-color);
}

/****************************************************** Styles For Mobile Devices ******************************/

@media (max-width: 860px) {
    .footer{
        display: none;
    }
}
// MediaQueries:  Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .nav-items{
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: -100vh;
        background-color: var(--page-bg-color);
        border-bottom: solid 2px gray;
        padding: var(--md);
        height: 39vh;
        width: 100vw;
    }

    .hidden{
        display: none;
    }

    .hamberger{
        display: block;
    }

    .close_navbar{
        display: flex;
        position: absolute;
        right: var(--xxl);
        top: var(--md);
        color: gray;
        font-size: var(--xxl);
    }

    @keyframes slide_in_from_left{
        from{
            left: -110vw;
            display: none;
        }
        to{
            left: 0;
            display: flex;
        }
    }

    @keyframes slide_out_from_left{
        from{
            left: 0;
            display: flex;
        }
        to{
            left: -110vw;
            display: none;
        }
    }

    .show-side-nav{
        animation: slide_in_from_left 0.5s 1 normal forwards ease;
    }
    
    .hide-side-nav{
        animation: slide_out_from_left 0.5s 1 normal forwards ease;
    }

    /* Expanded Navigation bar*/
    .navigation-bar-expanded{
        position: sticky;
        box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
        height: 7vh;
        justify-content: center;
        align-items: center;
    }
    
    /*  Shrink navigation bar*/
    .navigation-bar-shrunk{
        border-bottom: 2px solid gray;
        position: sticky;
        box-shadow: 0px 2px 10px 1px var(--navbar-shadow-color);
        height: 7vh;
        justify-content: center;
        align-items: center;
    }

    .home-wrapper{      // Wraps the content of the Home page
        min-height: 59vh;  
        background: linear-gradient(var(--black),var(--page-bg-color));
        display: flex;
        flex-direction: column;
        background: none;
    }

    .home-about {
        text-align: center;
    }

    .footer{
      display: none;
    }
}

 @media (max-width: 416px){
        .project-container{
            min-width: none;
            max-width: none;
        }
}


