.light{
    --text-color : #212426;
    --page-bg-color: #eeeeee;
    --bg-color: #3dc8ff;
    --navbar-shadow-color: none;
    --navbar-border-bottom: gray; 
}

.dark{
    --text-color: #f7f7f7;
    --page-bg-color: #222a2e;
    --bg-color: #3dc8ff;
    --navbar-shadow-color: #000000;
    --navbar-border-bottom: #3dc8ff; 
}


.globals{
    /*Colors*/
    --black: #000000;
    --dark-blue: #222a2e;
    --white: #f7f7f7;
    --light-blue: #3dc8ff;
    --shadow-gray:  rgba(9,9,9,0.4);

    /*Sizes*/
    --sm: 3px;
    --md: 5px;
    --lg: 10px;
    --xl: 20px;
    --xxl: 30px;
    --round: 50%;
}
